body { 
  background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/672710/3625/2413/m1/fpnw/wm1/zodiac-signs-vector-background-converted1-01-.jpg?1442954378&s=a64867ffd963b3da8007ab87833fad5d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
