div { 
  background-image: url('https://pm1.narvii.com/5816/e980aa13f81f5401f438f91fb37d8371c1f79e1a_hq.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
